body {
  font-family: 'Roboto';
  background-color: #1f2937;
}

.header { 
  display: flex;
  justify-content: space-around;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 64px;
}

.information {
  background-color: #f9faf8;
  padding-top: 32px;
  padding-bottom: 128px;
}

#testimonial {
  background-color: #e5e7eb;
  padding: 32px;
  display: flex;
  justify-content: center;
}

.hero-text {
  max-width: 475px;
}

.hero-image {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 575px;
  height: 300px ;
  flex-shrink: 0;
}

.info-container {
  width: 175px;
  height: 175px;
}

.info-image {
  border: 3px solid;
  border-radius: 8px;
  border-color: #3882f6;
  color: #f9faf8;
  display: flex;
  width: 150px;
  height: 150px;
}

.info-subtext {
  font-size: 16px;
}

#logo {
  font-size: 24px;
  color: #f9faf8;
}

#awesome-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8
}

#info-header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
}

#image-list {
  display: flex;
  justify-content: center;
}

#quote-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  width: 850px;
}

#credit {
  font-size: 24px;
  align-self: flex-end;
  margin-right: 150px;
  margin-top: -32px;
}

#subtext, 
.hero-image, 
a {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  border-radius: 6px;
  padding: 8px;
  border: 0px;
  width: 100px;
  color: white;
}



















h1 {
  font-size: 24px;
  color: #f9faf8
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
  align-items: center;
}


a {
  text-decoration: none;
}